<body>
   <!--========================== Contant-Area================================-->
   <div class="contant-area">
     <div class="container">
     <div class="row row-offcanvas row-offcanvas-left">
       <div class="col-md-3 col-sm-4 col-xs-6 sidebar-offcanvas" id="sidebar">
         <!--========================== left-sidebar ================================-->
         <div class="left-sidebar">
           <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
             <div class="panel panel-default">
               <div class="panel-heading" role="tab" id="headingOne">
                 <h4 class="panel-title">
                   <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Top Reted
                     <i class="fa fa-angle-right"></i>
                     <i class="fa fa-angle-down"></i>
                   </a>
                 </h4>
               </div>
               <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                 <div class="panel-body">
                   <ul>
                     <li><a href="#">Lorern ipsum</a></li>
                     <li><a href="#">Dolor sit amet</a></li>
                     <li><a href="#">Consectetur</a></li>
                     <li><a href="#">Adipisicing elit</a></li>
                     <li><a href="#">tempor</a></li>
                   </ul>
                 </div>
               </div>
             </div>
             <div class="panel panel-default">
               <div class="panel-heading" role="tab" id="headingTwo">
                 <h4 class="panel-title">
                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">branding
                     <i class="fa fa-angle-right"></i>
                     <i class="fa fa-angle-down"></i>
                   </a>
                 </h4>
               </div>
               <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                 <div class="panel-body">
                   <ul>
                     <li><a href="#">Lorern ipsum</a></li>
                     <li><a href="#">Dolor sit amet</a></li>
                     <li><a href="#">Consectetur</a></li>
                     <li><a href="#">Adipisicing elit</a></li>
                     <li><a href="#">tempor</a></li>
                   </ul>
                 </div>
               </div>
             </div>
             <div class="panel panel-default">
               <div class="panel-heading" role="tab" id="headingThree">
                 <h4 class="panel-title">
                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">business
                     <i class="fa fa-angle-right"></i>
                     <i class="fa fa-angle-down"></i>
                   </a>
                 </h4>
               </div>
               <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                 <div class="panel-body">
                   <ul>
                     <li><a href="#">Lorern ipsum</a></li>
                     <li><a href="#">Dolor sit amet</a></li>
                     <li><a href="#">Consectetur</a></li>
                     <li><a href="#">Adipisicing elit</a></li>
                     <li><a href="#">tempor</a></li>
                   </ul>
                 </div>
               </div>
             </div>
             <div class="panel panel-default">
               <div class="panel-heading" role="tab" id="headingFour">
                 <h4 class="panel-title">
                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">design
                     <i class="fa fa-angle-right"></i>
                     <i class="fa fa-angle-down"></i>
                   </a>
                 </h4>
               </div>
               <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                 <div class="panel-body">
                   <ul>
                     <li><a href="#">Lorern ipsum</a></li>
                     <li><a href="#">Dolor sit amet</a></li>
                     <li><a href="#">Consectetur</a></li>
                     <li><a href="#">Adipisicing elit</a></li>
                     <li><a href="#">tempor</a></li>
                   </ul>
                 </div>
               </div>
             </div>
             <div class="panel panel-default">
               <div class="panel-heading" role="tab" id="headingFive">
                 <h4 class="panel-title">
                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Html
                     <i class="fa fa-angle-right"></i>
                     <i class="fa fa-angle-down"></i>
                   </a>
                 </h4>
               </div>
               <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                 <div class="panel-body">
                   <ul>
                     <li><a href="#">Lorern ipsum</a></li>
                     <li><a href="#">Dolor sit amet</a></li>
                     <li><a href="#">Consectetur</a></li>
                     <li><a href="#">Adipisicing elit</a></li>
                     <li><a href="#">tempor</a></li>
                   </ul>
                 </div>
               </div>
             </div>
             <div class="panel panel-default">
               <div class="panel-heading" role="tab" id="headingSix">
                 <h4 class="panel-title">
                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">inspiration
                     <i class="fa fa-angle-right"></i>
                     <i class="fa fa-angle-down"></i>
                   </a>
                 </h4>
               </div>
               <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                 <div class="panel-body">
                   <ul>
                     <li><a href="#">Lorern ipsum</a></li>
                     <li><a href="#">Dolor sit amet</a></li>
                     <li><a href="#">Consectetur</a></li>
                     <li><a href="#">Adipisicing elit</a></li>
                     <li><a href="#">tempor</a></li>
                   </ul>
                 </div>
               </div>
             </div>
             <div class="panel panel-default">
               <div class="panel-heading" role="tab" id="headingSeven">
                 <h4 class="panel-title">
                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">javascript
                     <i class="fa fa-angle-right"></i>
                     <i class="fa fa-angle-down"></i>
                   </a>
                 </h4>
               </div>
               <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                 <div class="panel-body">
                   <ul>
                     <li><a href="#">Lorern ipsum</a></li>
                     <li><a href="#">Dolor sit amet</a></li>
                     <li><a href="#">Consectetur</a></li>
                     <li><a href="#">Adipisicing elit</a></li>
                     <li><a href="#">tempor</a></li>
                   </ul>
                 </div>
               </div>
             </div>
             <div class="panel panel-default">
               <div class="panel-heading" role="tab" id="headingEight">
                 <h4 class="panel-title">
                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">mobile
                     <i class="fa fa-angle-right"></i>
                     <i class="fa fa-angle-down"></i>
                   </a>
                 </h4>
               </div>
               <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                 <div class="panel-body">
                   <ul>
                     <li><a href="#">Lorern ipsum</a></li>
                     <li><a href="#">Dolor sit amet</a></li>
                     <li><a href="#">Consectetur</a></li>
                     <li><a href="#">Adipisicing elit</a></li>
                     <li><a href="#">tempor</a></li>
                   </ul>
                 </div>
               </div>
             </div>
             <div class="panel panel-default">
               <div class="panel-heading" role="tab" id="headingNine">
                 <h4 class="panel-title">
                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">ux desing
                     <i class="fa fa-angle-right"></i>
                     <i class="fa fa-angle-down"></i>
                   </a>
                 </h4>
               </div>
               <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                 <div class="panel-body">
                   <ul>
                     <li><a href="#">Lorern ipsum</a></li>
                     <li><a href="#">Dolor sit amet</a></li>
                     <li><a href="#">Consectetur</a></li>
                     <li><a href="#">Adipisicing elit</a></li>
                     <li><a href="#">tempor</a></li>
                   </ul>
                 </div>
               </div>
             </div>
             <div class="panel panel-default">
               <div class="panel-heading" role="tab" id="headingTen">
                 <h4 class="panel-title">
                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">web development
                     <i class="fa fa-angle-right"></i>
                     <i class="fa fa-angle-down"></i>
                   </a>
                 </h4>
               </div>
               <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                 <div class="panel-body">
                   <ul>
                     <li><a href="#">Lorern ipsum</a></li>
                     <li><a href="#">Dolor sit amet</a></li>
                     <li><a href="#">Consectetur</a></li>
                     <li><a href="#">Adipisicing elit</a></li>
                     <li><a href="#">tempor</a></li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
         </div><!-- left-sidebar -->
       </div>
       <!--========================== main-content ================================-->
       <div class="col-md-6 col-sm-8 col-xs-12">
         <div class="main-content">
           <% @ads.each do |ad| %>
           <article>
               <div class="post-img">
                 <a href="details.html" target="_blank"><img class="img-responsive" <%= image_tag("post-img-1.jpg")%> </a>
               </div>
                 <a href="details.html" target="_blank" class="btn btn-default btn-sm btn-category" type="submit">business</a>
                 <a href="<%= ad_path(ad.id)%>" target="_blank"><h2 class="post-title"><%= ad.title %></h2></a>
             <div class="post-meta">
                   <span><a href="#"><i class="fa fa-share-alt post-meta-icon"></i> <%= ad.user.first_name %> </a></span>
                   <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> <%= ad.created_at %> </a></span>
                   <span><a href="#"><i class="fa fa-home post-meta-icon"></i> <%= ad.location %> </a></span>
                   <span><i class="price"></i> <%= ad.price %> TND</span>
                 <p>
                     <% if ad_author(ad) %>
                     <a href="<%= edit_ad_path(ad.id)%> " class="btn btn-success"> Edit AD </a>

                     <a href="<%= ad_path(ad.id)%> " class="btn btn-danger"  data-confirm="Are you sure ?" data-method="DELETE"> Remove AD </a>
                     <% end %>
                 </p>
             </div>
             <div class="post-content">
               <p><%= ad.description %></p>
             </div>
           </article>
           <% end %>
         </div><!-- main-content -->
         <div class="pagination">
           <nav>
             <ul class="pagination">
             <li><a href="#">1</a></li>
             <li><a href="#">2</a></li>
             <li><a href="#">3</a></li>
             <li><a href="#">4</a></li>
             <li><a href="#">Next</a></li>
             </ul>
           </nav>
         </div>
       </div>
       <!--========================== Right-Sidebar ================================-->
       <div class="col-md-3 col-sm-12 col-xs-12">
         <div class="right-sidebar">
           <div class="righ-sidebar-body">
             <div class="item">
               <a href="#"><h4 class="post-title slide-title">popular posts</h4></a>
               <div class="col-md-12 col-sm-6">
                 <a href="#"><img <%= image_tag("right-post-img-1.jpg")%></a>
                 <div class="carousel-caption">
                   <a href="#"><h5 class="post-title">migrant crisis</h5></a>
                   <div class="post-meta">
                     <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> april 13, 2015 </a></span>
                     <span><a href="#"><i class="fa fa-comments post-meta-icon"></i> 50 </a></span>
                   </div>
                   <div class="post-content no-border">
                     <p>Migrant survivor says Mediterranean shipwreck was like a war scene'.</p>
                   </div>
                 </div>
               </div>
               <div class="col-md-12 col-sm-6">
                 <a href="#"><img <%= image_tag("right-post-img-2.jpg")%></a>
                 <div class="carousel-caption">
                   <a href="#"><h5 class="post-title">kraft mac & cheese is ditching signature</h5></a>
                   <div class="post-meta">
                     <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> april 13, 2015 </a></span>
                     <span><a href="#"><i class="fa fa-comments post-meta-icon"></i> 50 </a></span>
                   </div>
                   <div class="post-content no-border">
                     <p>Migrant survivor says Mediterranean shipwreck was like a war scene'.</p>
                   </div>
                 </div>
               </div>
               <div class="col-md-12 col-sm-6">
                 <a href="#"><img <%= image_tag("right-post-img-3.jpg")%> </a>
                 <div class="carousel-caption">
                   <a href="#"><h5 class="post-title">denmark passes law banning bestiality</h5></a>
                   <div class="post-meta">
                     <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> april 13, 2015 </a></span>
                     <span><a href="#"><i class="fa fa-comments post-meta-icon"></i> 50 </a></span>
                   </div>
                   <div class="post-content no-border">
                     <p>Migrant survivor says Mediterranean shipwreck was like a war scene'.</p>
                   </div>
                 </div>
               </div>
               <div class="col-md-12 col-sm-6">
                 <a href="#"><img <%= image_tag("right-post-img-4.jpg")%> </a>
                 <div class="carousel-caption">
                   <a href="#"><h5 class="post-title">what welearned about microsoft at e3 2015</h5></a>
                   <div class="post-meta">
                     <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> april 13, 2015 </a></span>
                     <span><a href="#"><i class="fa fa-comments post-meta-icon"></i> 50 </a></span>
                   </div>
                   <div class="post-content no-border">
                     <p>Migrant survivor says Mediterranean shipwreck was like a war scene'.</p>
                   </div>
                 </div>
               </div>
               <div class="col-md-12 col-sm-6">
                 <a href="#"><img <%= image_tag("right-post-img-5.jpg")%> </a>
                 <div class="carousel-caption">
                   <a href="#"><h5 class="post-title">what welearned about microsoft at e3 2015</h5></a>
                   <div class="post-meta">
                     <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> april 13, 2015 </a></span>
                     <span><a href="#"><i class="fa fa-comments post-meta-icon"></i> 50 </a></span>
                   </div>
                   <div class="post-content no-border">
                     <p>Migrant survivor says Mediterranean shipwreck was like a war scene'.</p>
                   </div>
                 </div>
               </div>
               <div class="col-md-12 col-sm-6">
                 <a href="#"><img <%= image_tag("right-post-img-6.jpg")%> </a>
                 <div class="carousel-caption">
                   <a href="#"><h5 class="post-title">what welearned about microsoft at e3 2015</h5></a>
                   <div class="post-meta">
                     <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> april 13, 2015 </a></span>
                     <span><a href="#"><i class="fa fa-comments post-meta-icon"></i> 50 </a></span>
                   </div>
                   <div class="post-content no-border">
                     <p>Migrant survivor says Mediterranean shipwreck was like a war scene'.</p>
                   </div>
                 </div>
               </div>
             </div>
             <div class="item">
               <a href="#"><h4 class="post-title slide-title">featured posts</h4></a>
               <div class="col-md-12 col-sm-6">
                 <a href="#"><img <%= image_tag("right-post-img-7.jpg")%> </a>
                 <div class="carousel-caption">
                   <a href="#"><h5 class="post-title">migrant crisis</h5></a>
                   <div class="post-meta">
                     <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> april 13, 2015 </a></span>
                     <span><a href="#"><i class="fa fa-comments post-meta-icon"></i> 50 </a></span>
                   </div>
                   <div class="post-content no-border">
                     <p>Migrant survivor says Mediterranean shipwreck was like a war scene'.</p>
                   </div>
                 </div>
               </div>
               <div class="col-md-12 col-sm-6">
                 <a href="#"><img <%= image_tag("right-post-img-8.jpg")%> </a>
                 <div class="carousel-caption">
                   <a href="#"><h5 class="post-title">kraft mac & cheese is ditching signature</h5></a>
                   <div class="post-meta">
                     <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> april 13, 2015 </a></span>
                     <span><a href="#"><i class="fa fa-comments post-meta-icon"></i> 50 </a></span>
                   </div>
                   <div class="post-content no-border">
                     <p>Migrant survivor says Mediterranean shipwreck was like a war scene'.</p>
                   </div>
                 </div>
               </div>
               <div class="col-md-12 col-sm-6">
                 <a href="#"><img <%= image_tag("right-post-img-9.jpg")%> </a>
                 <div class="carousel-caption">
                   <a href="#"><h5 class="post-title">denmark passes law banning bestiality</h5></a>
                   <div class="post-meta">
                     <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> april 13, 2015 </a></span>
                     <span><a href="#"><i class="fa fa-comments post-meta-icon"></i> 50 </a></span>
                   </div>
                   <div class="post-content no-border">
                     <p>Migrant survivor says Mediterranean shipwreck was like a war scene'.</p>
                   </div>
                 </div>
               </div>
               <div class="col-md-12 col-sm-6">
                 <a href="#"><img <%= image_tag("right-post-img-10.jpg")%> </a>
                 <div class="carousel-caption">
                   <a href="#"><h5 class="post-title">what welearned about microsoft at e3 2015</h5></a>
                   <div class="post-meta">
                     <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> april 13, 2015 </a></span>
                     <span><a href="#"><i class="fa fa-comments post-meta-icon"></i> 50 </a></span>
                   </div>
                   <div class="post-content no-border">
                     <p>Migrant survivor says Mediterranean shipwreck was like a war scene'.</p>
                   </div>
                 </div>
               </div>
               <div class="col-md-12 col-sm-6">
                 <a href="#"><img <%= image_tag("right-post-img-11.jpg")%> </a>
                 <div class="carousel-caption">
                   <a href="#"><h5 class="post-title">what welearned about microsoft at e3 2015</h5></a>
                   <div class="post-meta">
                     <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> april 13, 2015 </a></span>
                     <span><a href="#"><i class="fa fa-comments post-meta-icon"></i> 50 </a></span>
                   </div>
                   <div class="post-content no-border">
                     <p>Migrant survivor says Mediterranean shipwreck was like a war scene'.</p>
                   </div>
                 </div>
               </div>
               <div class="col-md-12 col-sm-6">
                 <a href="#"><img <%= image_tag("right-post-img-12.jpg")%> </a>
                 <div class="carousel-caption">
                   <a href="#"><h5 class="post-title">what welearned about microsoft at e3 2015</h5></a>
                   <div class="post-meta">
                     <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> april 13, 2015 </a></span>
                     <span><a href="#"><i class="fa fa-comments post-meta-icon"></i> 50 </a></span>
                   </div>
                   <div class="post-content no-border">
                     <p>Migrant survivor says Mediterranean shipwreck was like a war scene'.</p>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-12 col-sm-6 post-static">
               <h5 class="post-title">email newsletter</h5>
               <div class="post-content no-border">
                 <p>Migrant survivor says Mediterranean shipwreck was like a war scene'.</p>
               </div>
             </div>
             <div class="col-md-12 col-sm-6 email-section">
               <form>
                 <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address">
                 <button type="submit" class="btn btn-default btn-xs"><i class="fa fa-paper-plane"></i></button>
               </form>
             </div>
           </div><!-- Righ-sidebar-body -->
         </div><!-- Right-Sidebar -->
       </div>
     </div>
     </div><!-- Container -->
   </div><!-- Content-area -->
   <footer>
     <div class="footer-menu">
       <div class="container">
         <div class="col-md-4 col-sm-4 center-block">
           <h3 class="footer-head">this author blog from crea tivemine</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
           <div class="social">
             <li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
             <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
             <li><a href="#"><i class="fa fa-google-plus google-plus"></i></a></li>
           </div>
         </div>
         <div class="col-md-4 col-sm-4 mobile-footer center-block">
           <h4 class="footer-head">recent posts</h4>
           <ul class="ul-left">
             <li><a href="#">Ut enim ad minim veniam</a></li>
             <li><a href="#">Quis nostrud exercitation laboris</a></li>
             <li><a href="#">Duis aute irure dolor reprehenderit</a></li>
             <li><a href="#">Excepteur sint occaecat non</a></li>
             <li><a href="#">Proident,sunt in culpa qui officia</a></li>
             <li><a href="#">Accusantium doloremque</a></li>
           </ul>
         </div>
         <div class="col-md-4 col-sm-4 mobile-footer center-block">
           <h4 class="footer-head">article categories</h4>
           <ul class="ul-left">
             <li><a href="#">Academy</a></li>
             <li><a href="#">Blogging</a></li>
             <li><a href="#">Conversion</a></li>
             <li><a href="#">Design</a></li>
             <li><a href="#">E-Commerce</a></li>
             <li><a href="#">Facebook</a></li>
             <li><a href="#">Infographics</a></li>
             <li><a href="#">Launch</a></li>

           </ul>
           <ul class="ul-right">
             <li><a href="#">Strategies</a></li>
             <li><a href="#">Marketing</a></li>
             <li><a href="#">SEO</a></li>
             <li><a href="#">Social</a></li>
             <li><a href="#">Media</a></li>
             <li><a href="#">Testing</a></li>
             <li><a href="#">Twitter</a></li>
           </ul>
         </div>
       </div>
     </div><!-- Footer-menu -->
     <div class="footer-nav">
       <div class="container">
         <div class="col-md-6 col-sm-5">
           <p>&copy; 2015 Author bloging template</p>
         </div>
         <div class="col-md-6 col-sm-7">
           <ul>
             <li><a href="index.html">home</a></li>
             <li><a href="#">support</a></li>
             <li><a href="#">careers</a></li>
             <li><a href="#">terms use</a></li>
             <li><a href="#">privacy policy</a></li>
           </ul>
         </div>
       </div>
       <!-- Go TO TOP -->
       <div id="toTop" class="btn btn-info" style="display: block;">
         <span class="fa fa-angle-up"></span>
       </div><!-- /Go-to-top -->
     </div>
   </footer>



   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="js/bootstrap.min.js"></script>
   <script src ="js/custom.js"></script>
 </body>
