<body>
   <!--========================== Contant-Area================================-->
   <div class="contant-area">
     <div class="container">
     <div class="row row-offcanvas row-offcanvas-left">
       <div class="col-md-3 col-sm-4 col-xs-6 sidebar-offcanvas" id="sidebar">
         <!--========================== left-sidebar ================================-->
         <div class="left-sidebar">
           <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
             <div class="panel panel-default">
               <% @categorytypes.each do |categorytype| %>
               <div class="panel-heading" role="tab" id="headingOne">
                 <h4 class="panel-title">
                   <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= categorytype.label %>" aria-expanded="true" aria-controls="collapseOne"><%= categorytype.label %>
                     <i class="fa fa-angle-right"></i>
                     <i class="fa fa-angle-down"></i>
                   </a>
                 </h4>
               </div>
               <div id="<%= categorytype.try(:label) %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                 <div class="panel-body">
                   <% categorytype.categories.map do |category| %>
                   <ul>
                     <li><a href="/categories/<%= category.try(:id) %>"><%= category.label %></a></li>
                   </ul>
                   <% end %>
                 </div>
               </div>
               <%end%>
             </div>
           </div>
         </div><!-- left-sidebar -->
       </div>
       <!--========================== main-content ================================-->
       <div class="col-md-6 col-sm-8 col-xs-12">
         <div class="main-content">
           <% @ads.each do |ad| %>
           <article>
               <div class="post-img">
                 <a href="details.html" target="_blank"><img class="img-responsive" <%= image_tag(ad.images[0]) if ad.images.length > 0 %> </a>
               </div>
                 <a href="details.html" target="_blank" class="btn btn-default btn-sm btn-category" type="submit">business</a>
                 <a href="<%= ad_path(ad.id)%>" target="_blank"><h2 class="post-title"><%= ad.title %></h2></a>
             <div class="post-meta">
                   <span><a href="#"><i class="fa fa-share-alt post-meta-icon"></i> <%= ad.user.first_name %> </a></span>
                   <span><a href="#"><i class="fa fa-calendar-check-o post-meta-icon"></i> <%= ad.publishing_at %> </a></span>
                   <span><a href="#"><i class="fa fa-home post-meta-icon"></i> <%= ad.location %> </a></span>
                   <span><i class="price"></i> <%= ad.price %> TND</span>
                 <p>
                     <% if ad_author(ad) %>
                     <a href="<%= edit_ad_path(ad.id)%> " class="btn btn-success"> Edit AD </a>

                     <a href="<%= ad_path(ad.id)%> " class="btn btn-danger"  data-confirm="Are you sure ?" data-method="DELETE"> Remove AD </a>
                     <% end %>
                 </p>
             </div>
             <div class="post-content">
               <p><%= ad.description %></p>
             </div>
           </article>
           <% end %>
         </div><!-- main-content -->
         <div class="pagination">
           <nav>
             <ul class="pagination">
             <li><a href="#">1</a></li>
             <li><a href="#">2</a></li>
             <li><a href="#">3</a></li>
             <li><a href="#">4</a></li>
             <li><a href="#">Next</a></li>
             </ul>
           </nav>
         </div>
       </div>
       <!--========================== Right-Sidebar ================================-->
      </div>
     </div><!-- Container -->
   </div><!-- Content-area -->
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="js/bootstrap.min.js"></script>
   <script src ="js/custom.js"></script>
 </body>
