<h1> <%= @ad.title %> </h1>
<h3> <%= @ad.location %> </h3>
<strong> <%= @ad.price %> </strong>
<p> <%= @ad.description %> </p>

<p>
<a href="<%= ads_path%> " class="btn btn-primary"> See All </a>
</p>
