<body>
<!--========================== Contant-Area================================-->
<div class="contant-area">
  <div class="container">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-md-3 col-sm-4 col-xs-6 sidebar-offcanvas" id="sidebar">
      <!--========================== left-sidebar ================================-->
      <div class="left-sidebar">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <% @categorytypes.each do |categorytype| %>
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= categorytype.label %>" aria-expanded="true" aria-controls="collapseOne"><%= categorytype.label %>
                  <i class="fa fa-angle-right"></i>
                  <i class="fa fa-angle-down"></i>
                </a>
              </h4>
            </div>
            <div id="<%= categorytype.try(:label) %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <% categorytype.categories.map do |category| %>
                <ul>
                  <li><a href="/categories/<%= category.try(:id) %>"><%= category.label %></a></li>
                </ul>
                <% end %>
              </div>
            </div>
            <%end%>
          </div>
        </div>
      </div><!-- left-sidebar -->
    </div>
    <!--========================== main-content ================================-->
    <div class="col-md-6 col-sm-8 col-xs-12">
      <div class="main-content">
        <article>
          <h4 class="page-title">about me</h4>
          <a href="#"><img class="img-responsive" <%= image_tag("About.jpg")%>></a>
          <div class="post-content">
            <p class="post">Things often come full circle in software engineering. The web in particular started with servers delivering content down to the client. Recently with the creation of modern web frameworks such as Angular JS and Ember, we've seen a push to render on the client and only use a server for an API</p>
            <p class="post">We're now seeing a possible return or, rather, more of a combination of both architectures happening</p>
            <p class="post">Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco blboris nisi ut aliquip ex ea commodo consequat.</p>
            <blockquote>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
            </blockquote>
            <p class="post">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="post">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
          </div>
            <h4 class="post-title social-title">connect with me</h4>
            <div class="social">
              <li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus google-plus"></i></a></li>
            </div>
        </article>

      </div><!-- main-content -->

    </div>
  </div>
  </div><!-- Container -->
</div><!-- Content-area -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src ="js/custom.js"></script>
</body>
</html>
